@model Order

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Каталожный номер")
        </th>
        <th>
            @Html.DisplayName("Наименование")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Parts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            @if (item.ParsedDatas.Count == 0)
            {
               @Html.ActionLink("Delete", "Delete", new { id = item.Id });
            }
        </td>
    </tr>
}
</table>
