@model ParserSite.ParsedData

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ParsedData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Original)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Original)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firmname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firmname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statistic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statistic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SearchedArtikul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchedArtikul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
