@model Dictionary<int, string>
@{
    ViewBag.Title = "Parse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parse</h2>
<p>Выберите необходимые парсеры:</p>
@using (Ajax.BeginForm("StartParse", null))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="OrderId" value="@ViewBag.OrderId" />
    foreach(var p in ViewBag.selectedParts){
        <input type="hidden" name="selectedParts" value="@p" />
    }
    <table>
        <tr>
            <th></th>
            <th>Наименование</th>
        </tr>
    @foreach (KeyValuePair<int,string> p in Model) { 
        <tr>
            <td>
                <input type="checkbox" name="selectedParsers" value="@p.Key" checked/>
            </td>
            <td>
                @p.Value
            </td>
        </tr>
    }
    </table>
    <input type="submit" value="Parse" />
}
<div id="ParseResults"></div>
